* {
        font-family:"arial", sans-serif;
    }
header {
        background-color: #d5cbe3;
    }
h1 {
        display: inline-block;
        color: #3d3742;}
h2 {
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 letter-spacing: 2px;
 text-transform: uppercase;
 font-size: 24px;
 text-align: center;
 align: center;
}
nav {
        background-color: #d5cbe3;
        display: inline-block;
    }
body{
        background-color: #f2e5e9;
        color:#3d3742;
    }
a {
        color: #3d3742;
        display: block;
}
section.photo {
        display:flex;
        position: relative;
        height: 600px;
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        background-image: url("../photo.jpg");
        background-size: cover;
        background-position: center;
      } 
      
article.photocaption {
        position: absolute;
        top: 530px;
        right: 10px;
        width: 300px;
        height: 50px;
        padding: 10px;
        background-color: #f6b6ac;
      }


ul li {
    display: inline-block;
    padding-left: 20px;
}



.about{
    display: flex;}
.about-header{
    position: relative;
    padding-right:10px;
    height: 100px;
    margin-top: 0px;
    min-width: 20%;
    text-align: center;
}

.about-content{
    position:relative;
    display: flex;
    width:100%;
    padding: 10px;
    margin-top: 0px;
    border-left: 2px solid #3d3742;
    background-color:#d9b1ba;
    align: center;
}

.work-row{
display: flex;
border-bottom: 2px solid #3d3742;
border-top: 2px solid #3d3742;}


.work-content {
    position:relative;
    margin-top: 0px;
    border-left: 2px solid #3d3742;
    background-color:#d9b1ba;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.work-main{
    display: flex;
    position: static;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid white;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    min-width: 300px;
    min-height: 300px;

}

.work-main-header{
    position: absolute;
    top: 245px;
    right: 15px;
    width: 300px;
    height: 50px;
    padding: 10px;
    background-color: #f6b6ac;
  }
.work-header {
    position: relative;
    padding-right:10px;
    max-height: 50px;
    bottom: -20px;
    min-width: 20%;
    z-index: 5;
}



img {
    object-fit: cover;
    z-index: -4;
    max-width:100%;
    max-height:100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .work-main:hover .image, .work-box1:hover .image, .work-box2:hover .image, .work-box3:hover .image, .work-box4:hover .image, .work-box5:hover .image, .work-box6:hover .image{
    opacity: 0.5;
  }
.work-box1 {
    border: 5px solid white;
    margin: 10px;
    width:300px;
    height:300px;
}

.work-box2 {
    border: 5px solid white;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.work-box3 {
    border: 5px solid white;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.work-box4 {
    border: 5px solid white;
    margin: 10px;
    width:300px;
    height: 300px;
}

.work-box5 {
    border: 5px solid white;
    margin: 10px;
    height: 300px;
    width: 300px;
}

.work-box6 {
    border: 5px solid white;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.work-box-header {
    position: relative;
    left: 0px;
    top: -100px;
    width: 270px;
    background-color: white;
    margin: 0px;
    z-index: 4;
}

@media screen and (max-width: 600px) {
    #mainphoto {
      width:500px;
      height: 500px;
    }
    .image {
        width: 250px;
        height: 250px;
}
.work-box1, .work-box2, .work-box3, .work-box4, .work-box5, .work-box6{
    height: 250px;
    width: 250px;
}
}
